<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}\Logs\log.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="Log" xsi:type="File"
				maxArchiveDays="30"
				encoding="utf-8"
				maxArchiveFiles="30"
				archiveAboveSize="102400000"
				archiveNumbering="Sequence" fileName="${basedir}\Logs\Log-${shortdate}.log">
			<layout xsi:type="JsonLayout">
				<attribute name="Time" layout="${date:format=O}"/>
				<attribute name="Logger" layout="${logger}"/>
				<attribute name="Level" layout="${level}"/>
				<attribute name="Message" layout="${message}"/>
				<attribute name="Exception" layout="${exception:format=ToString}" />
			</layout>
		</target>

		<target name="TraceLog" xsi:type="File"
				maxArchiveDays="30"
				encoding="utf-8"
				maxArchiveFiles="30"
				archiveAboveSize="102400000"
				archiveNumbering="Sequence" fileName="${basedir}\Logs\TraceLog-${shortdate}.log">
			<layout xsi:type="JsonLayout">
				<attribute name="Time" layout="${date:format=O}"/>
				<attribute name="Logger" layout="${logger}"/>
				<attribute name="Level" layout="${level}"/>
				<attribute name="Message" layout="${message}"/>
				<attribute name="Exception" layout="${exception:format=ToString}" />
			</layout>
		</target>

	</targets>

	<rules>
		<logger name="*" levels="Trace, Error, Fatal" writeTo="Log" />
		<logger name="*" level="Info" writeTo="TraceLog" />
	</rules>
</nlog>
